.boutique {
    .header {
        padding-top: 120px;
        display: flex;
        justify-content: space-between;
        margin: 20px;


        h1 {
            color: #3e719b;
            font-size: 1.5rem;
        }

        .shopping-cart {
            padding: 5px;
        }

        img {
            width: 30px;

        }
    }

    .product-list {
        display: none;
    }
}