.header-container {
    background: rgb(66, 166, 190);

    a,
    h1 {
        font-family: "Montserrat";
        font-size: 1rem;
    }

    h1 {

        font-size: 2.5rem;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}