.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 300px;

    .card-header {
        padding: 10px;
        background-color: red;

        .card_header_name {

            height: 70px;

            h2 {
                font-size: 1.6rem;
            }

        }

        img {
            width: 100%;
            max-height: 250px;
        }
    }

    .card-body {
        padding: 10px;
        background: green;
        height: au;
    }

    .card-footer {
        padding: 10px;
        text-align: right;
        background: yellow;
        height: 80px;

        button {
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;


            &.picked {
                background-color: green;
                cursor: default;
            }

            &:not(.picked) {
                background-color: blue;
                cursor: pointer;
            }
        }
    }
}